# Google Gemini API Key (Requerido para IA e Voz)
GEMINI_API_KEY=AIzaSyCksHc6qqvg7jBy8PvCvRtzb3DXrbl10Xo

# Firebase Configuration (Opcional se usar o arquivo firebase-applet-config.json)
# Estas chaves são as que aparecem no seu Console do Firebase
VITE_FIREBASE_API_KEY=AIzaSyC4bigPN4xtzmYoa_mxyvtUSrVYfSK3Gg8
VITE_FIREBASE_AUTH_DOMAIN=michel-eab.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=michel-eab
VITE_FIREBASE_STORAGE_BUCKET=michel-eab.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=839477580348
VITE_FIREBASE_APP_ID=1:839477580348:web:253c777b297da627f22939
VITE_FIREBASE_FIRESTORE_DATABASE_ID=ai-studio-651747b4-ab2e-43b6-b631-5973fac1dea9
