# Google Gemini API Key (Requerido para as funções de IA e Robô)
# Obtenha em: https://aistudio.google.com/app/apikey
GEMINI_API_KEY=

# Firebase Configuration
# Estas variaveis serão usadas como prioridade sobre o arquivo JSON.
# Se estiver rodando local, preencha-as para maior segurança.
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_FIRESTORE_DATABASE_ID=
